:root {
  --primarycolor: #1c7293;
  --secondarycolor: #f1f2eb;
  --tertiarycolor: #b9e3c6;
  --accentcolor: #272932;
}
body {
  background-color: var(--secondarycolor);
}
h1,
h2 {
  font-family: "Poppins", sans-serif;
}
h2 {
  font-size: 32px;
}
h3,
p,
ul {
  font-family: "Montserrat", sans-serif;
  color: var(--accentcolor);
}
h3 {
  font-size: 24px;
}
p,
ul {
  font-size: 16px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 0;
  text-align: center;
}
.hero {
  padding: 120px 20px;
  background-image: linear-gradient(
    176deg,
    var(--primarycolor) 80%,
    var(--secondarycolor) calc(80% + 2px)
  );
}
.content {
  padding: 100px 20px;
}
.hero h1,
.hero h2 {
  color: white;
}
.content h1,
.content h2 {
  color: var(--primarycolor);
}
.hero h1 {
  font-size: 80px;
  line-height: 1.5;
}
.content h1 {
  font-size: 60px;
}
.btn-primary {
  background-color: var(--primarycolor);
  border: var(--primarycolor);
  display: block;
  margin: auto;
  max-width: 150px;
}
@media (max-width: 600px) {
  h1 {
    font-size: 60px;
    line-height: 1.25;
  }
  .hero h2 {
    font-size: 24px;
  }
}
