:root {
  --primarycolor: #1c7293;
  --secondarycolor: #fafafc;
  --tertiarycolor: #b9e3c6;
  --accentcolor: #272932;
}
body {
  background-color: var(--secondarycolor);
}
h1,
h2 {
  font-family: "Poppins", sans-serif;
}
h2 {
  font-size: 32px;
}
h3,
h4,
p {
  font-family: "Montserrat", sans-serif;
  color: var(--accentcolor);
}
h3 {
  font-size: 24px;
}
p {
  font-size: 16px;
}
.logo {
  max-width: 60px;
}
.hero {
  padding: 60px 20px 140px;
  background-image: linear-gradient(
    176deg,
    var(--primarycolor) 70%,
    var(--secondarycolor) calc(70% + 2px)
  );
}
.hero h1,
.hero h2 {
  color: white;
}
.hero h1 {
  font-size: 80px;
  line-height: 1.25;
}
.content {
  padding: 60px 20px 20px;
}
.content h1,
.content h2 {
  color: var(--primarycolor);
}
.content h1 {
  font-size: 50px;
}
.content h2 {
  font-size: 30px;
}
.grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
.featured-project {
  margin: 50px 0;
}
.featured-project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.featured-project-image {
  border-radius: 3px;
  width: 100%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, .3);
}
.btn {
  background-color: var(--primarycolor);
  border: 1px solid var(--primarycolor);
  letter-spacing: 1px;
  max-width: 200px;
  padding: .5rem 2rem;
  transition: all 100ms ease-in-out;
  text-transform: capitalize;
}
.btn:hover {
  background-color: var(--secondarycolor);
  color: var(--primarycolor);
  border: 1px solid var(--primarycolor);
}
.featured-project-btn { 
  color: #FFF;
  display: inline-block;
}
.btn-primary {
  display: block;
  margin: auto;
}
.contact a {
  font-family: "Montserrat", sans-serif;
  color: var(--primarycolor);
  text-decoration: none;
  font-size: 18px;
}
.contact a:hover {
  color: var(--primarycolor);
  text-decoration: underline;
}
.img-thumbnail {
  max-height: 400px;
  display: block;
  margin: 0 auto;
}
footer .work-inquiry {
  background-color: var(--tertiarycolor);
  border-radius: 10px;
  padding: 30px 30px;
  margin: 40px 200px;
}
footer .social-links a {
  color: var(--primarycolor);
  background-color: var(--tertiarycolor);
  margin: 0 20px;
  border-radius: 50%;
  padding: 10px 14px;
  font-size: 20px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: var(--tertiarycolor);
  background-color: var(--primarycolor);
}
.email {
  color: var(--primarycolor);
  font-size: 22px;
  margin: 10px 0px;
  text-decoration: none;
}
.email:hover {
  color: var(--primarycolor);
  text-decoration: underline;
}
.coder a {
  color: var(--primarycolor);
  text-decoration: none;
}
.coder a:hover {
  color: var(--primarycolor);
  text-decoration: underline;
}
@media (max-width: 576px) {
  .hero h1 {
    font-size: 60px;
  }
  .hero h2 {
    font-size: 22px;
  }
  .hero {
    padding: 40px 20px 80px;
    background-image: linear-gradient(
      176deg,
      var(--primarycolor) 80%,
      var(--secondarycolor) calc(80% + 2px)
    );
  }
  footer {
    margin: 0 10px;
  }
  footer .work-inquiry {
    padding: 30px;
    margin: 20px 10px;
  }
}
